@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Montserrat', sans-serif;
}

ul::-webkit-scrollbar {
      width: 6px;
    }
    
    ul::-webkit-scrollbar-thumb {
      background-color: #CBD5E0;
      border-radius: 3px;
    }
    
    ul::-webkit-scrollbar-track {
      background-color: #f1ecec;
      border-radius: 3px;
    }

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
    
.animate-opacity {
  animation: opacity 0.5s ease-in-out;
}